<%= form_for(@item, html: { class: "col-xs-12 offset-md-3 col-md-6" }, url: item_path(@item.token)) do |f| %>
  <div class="form-group row">
    <%= f.label :token, class: "col-xs-4 col-form-label" %>
    <div class="col-xs-8">
      <p class="form-control-static mb-0"><%= @item.token %></p>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :name, class: "col-xs-4 col-form-label" %>
    <div class="col-xs-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-4 col-form-label" for="item_name">使用人</label>
    <div class="col-xs-8">
      <%= f.select :employee_id, grouped_options_for_select(company_people_options), {}, class: "form-control select2" %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary btn-block" %>
<% end %>