<h1 class="page-header mt-1 mb-2">財產總覽</h1>
<% if false %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>登記名稱</th>
          <th>登記條碼</th>
          <th>QR code</th>
          <th>登記時間</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each_with_index do |p, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= p.name %></td>
            <td><%= p.token %></td>
            <td><%= p.qr_code.html_safe %></td>
            <td><%= l p.created_at, format: :long %></td>
            <td><%= link_to "修改", edit_item_path(p.token), class: "btn btn-link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= render @items %>
  <%= render @items %>
<% end %>